{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    SaVests Admin Dashboard
  </title>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <!-- VENDOR CSS -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- MAIN CSS -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- WRAPPER -->
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-btn">
          <button class="btn-toggle-fullwidth" type="button">
            <i class="fa fa-list">
            </i>
          </button>
        </div>
        <div class="navbar-left">
          <h3>
            SaVests Admin Dashboard
          </h3>
        </div>
      </div>
    </nav>
    <!-- LEFT SIDEBAR -->
    <div class="sidebar" id="sidebar-nav">
      <div class="sidebar-scroll">
        <nav>
          <ul class="nav">
            <li>
              <a href="{% url 'index' %}">
                <i class="fa fa-home">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'list_users' %}">
                <i class="fa fa-users">
                </i>
                <span>
                  View Users
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope">
                </i>
                <span>
                  Send Email
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- END LEFT SIDEBAR -->

    {% block content %}{% endblock %}

    <div class="clearfix">
    </div>
    <footer>
      <div class="container-fluid">
        <p class="copyright">
          © 2020
          <a href="https://github.com/LordGhostX" target="_blank">
            LordGhostX
          </a>
          . All Rights Reserved.
        </p>
      </div>
    </footer>
  </div>
  <!-- END WRAPPER -->
  <!-- Javascript -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}">
  </script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}">
  </script>
  <script src="{% static 'assets/scripts/klorofil-common.js' %}">
  </script>
</body>

</html>
