{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <!-- OVERVIEW -->
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">
            Send Email - {{ total_users }} recipients
          </h3>
          <p class="panel-subtitle">
            Send an email to all the users on the platform
          </p>
        </div>
        <form method="POST" class="panel-body">
          {% csrf_token %}
          <input class="form-control" placeholder="Email Subject" type="text" name="subject" />
          <br />
          <textarea class="form-control" placeholder="Email Content" rows="10" name="content"></textarea>
          <br />
          <button class="btn btn-success" type="submit">
            Send Email
          </button>
        </form>
      </div>
      <!-- END OVERVIEW -->
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
{% endblock %}
