{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <!-- OVERVIEW -->
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">
            Users Overview
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ within_24_hours }}
                </h3>
                <p class="panel-subtitle">
                  New users within 24 hours
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ within_past_week }}
                </h3>
                <p class="panel-subtitle">
                  New users within the week
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ within_past_month }}
                </h3>
                <p class="panel-subtitle">
                  New users within the month
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ total_users }}
                </h3>
                <p class="panel-subtitle">
                  Total users on the platform
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ active_users }}
                </h3>
                <p class="panel-subtitle">
                  Total active users on the platform
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ inactive_users }}
                </h3>
                <p class="panel-subtitle">
                  Total inactive users on the platform
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OVERVIEW -->
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
{% endblock %}
