{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <!-- OVERVIEW -->
      <div class="panel panel-headline">
        <div class="panel-heading users-list">
          <h3 class="panel-title">
            Users List - {{ users_length }} users
          </h3>
          <p class="panel-subtitle">
            List of all users on the platform
          </p>
        </div>
        <div class="panel-body">
          <div class="users-list-actions">
            <button class="btn btn-success" type="button">
              Add User
            </button>
            <button class="btn btn-warning" type="button">
              Download Users CSV
            </button>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Full Name
                </th>
                <th>
                  Date Joined
                </th>
                <th>
                  Status
                </th>
                <th>
                  Change Status
                </th>
                <th>
                  Edit
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in users %}
              <tr>
                <td>
                  {{ i.name }}
                </td>
                <td>
                  {{ i.date }}
                </td>
                {% if i.active == 1 %}
                <td>
                  active
                </td>
                <td>
                  <button class="btn btn-danger" type="button">
                    Set Inactive
                  </button>
                </td>
                {% else %}
                <td>
                  inactive
                </td>
                <td>
                  <button class="btn btn-success" type="button">
                    Set Active
                  </button>
                </td>
                {% endif %}
                <td>
                  <button class="btn btn-warning" type="button">
                    Edit
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END OVERVIEW -->
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix">
{% endblock %}
